<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h2>Kingston Chinese Alliance Church<hr>京士顿华人宣道会</h2>
        <p class="major">倚靠聖靈大能 向左向右開展.</p>
        <ul class="actions stacked">
            <li><a href="#first" class="button big wide smooth-scroll-middle">Attend Service 参加崇拜</a>
                <li><a href="#minssss" class="button big wide smooth-scroll-middle">Join Ministry 加入事工</a></li>
                <li><a href="#offering" class="button big wide smooth-scroll-middle">Giving 奉献</a>
            </li>
            <li><a href="#contactus" class="button big wide smooth-scroll-middle">Contact Us 联系我们</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="images/kcac_front.jpg" alt="" />
    </div>
</section>