<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Service Information 崇拜信息</h2>
        <p>中文崇拜 每周日上午11:15 Chinese service every Sunday 11:15am<br>
            英文崇拜 每周日上午9:30 English service every Sunday 9:30am<br>
            祷告会 Prayer meeting 每周三晚上7点 Wednesday night 7pm <br>
            </p>
        <ul class="actions stacked">
            <li><a href="#second" class="button big wide smooth-scroll-middle">Service In Person 现场崇拜</a><a href="#third" class="button big wide smooth-scroll-middle">Service Online 在线崇拜</a></li>
        <p>Prayer meeting is currently hosted on Zoom. Please Email us for more information.<br>
        祷告会目前在Zoom上进行，请Email我们获取更多信息
        <br>Service time subject to change. Check our website or discord server for the latest time.<br>
        聚會時間有可能發生變化。关注我们的网站或discord服务器獲取最新的崇拜時間。
        </p>
        </ul>
    </div>
    <div class="image">
        <img src="images/spotlight03.jpg" alt="" />
    </div>
</section>