<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="second">
    <div class="content">
        <h2>Attend In Person Service <br>参加现场崇拜</h2>
        <p>
            Join our in person service every Sunday. When you arrive, come in from the parking lot side gate.
             Signs on the door will direct you which gate to use.
             Please mute your phone before entering church. 
            <br>加入我们每周日的现场崇拜。当你抵达教会时，请从停车场一侧的门进入。门上的标识将引导你到正确的入口。
            请在前往教会前将手机静音。

            
            <table class="infotable" id="infotable">
            <td><center>
             安省防疫已进一步放宽，邀请弟兄姊妹周日到教会崇拜。<br><b>但崇拜暂时仍会作健康筛选、登记，而弟兄姊妹在教会仍需戴口罩</b><br>
              <br>COVID restrictions has been relaxed in Ontario. We would like to welcome brothers and sisters back to worship in church. <br><b>However COVID screening, contact tracing and masking is still required.</b>
             
              </h3></center>
            </td>
          </table></p>
          <ul class="actions stacked">
            <li><a href="https://kcac.ca/covid" class="button">Health Screening 健康筛查</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="images/kcac_lectrern_half.jpg" alt="" />
    </div>
</section>