
					<section class="wrapper style1 align-center" id="offering">
						<div class="inner">
							<h2>Offering 奉献</h2>
							<p><br />
								教会的奉献可透過以下的方式進行：
								<br>1) 使用大堂的奉獻箱（支票或現金）
								<br>2) 网络银行電子轉賬(电邮住址为奉献邮箱) 
								<br>3) 將支票(抬頭請寫KCAC）郵寄到教會
								<br>4) 將支票直接投入教會信箱（在Brock St.這一面的門上） 
								<br>5) 將支票交給派發聖餐餅杯的弟兄姐妹
								<br>Please make your offering through the ways below:
								<br>1) Place your cheque or cash to the offering box in sanctuary
								<br>2) e-transfer to our offering email 
								<br>3) Mail your cheque to church, making the cheque payable to KCAC.
								<br>4) Place your cheque to the church mailbox on Brock St. side
								<br>5) Pass your cheque to the brother or sister delivering the Elements.
								<h4>如有问题请通过奉献Email咨询<br>Please use our offering Email for inquires relating giving.</h4>
								
						</div>

					</section>